n8n/workflows/chat-assistant.json
{
  "name": "Dokan Express AI Shopping Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "dokanxpress-chat"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Dokan Express AI Shopping Assistant — orchestrates Gemini + backend.\nconst body = $input.first().json.body || {};\nconst message = String(body.message || '').trim();\n\nif (!message) {\n  return [{ json: { reply: \"What can I help you find?\", intent: 'FAQ', query: '', products: [], suggestions: [] } }];\n}\n\nconst geminiKey = $env.GEMINI_API_KEY;\nif (!geminiKey) {\n  throw new Error('GEMINI_API_KEY is not set in the n8n environment');\n}\n\nconst backendUrl = $env.DOKANXPRESS_BACKEND_URL || 'http://host.docker.internal:5000';\n\nconst systemPrompt = `You are a helpful shopping assistant for Dokan Express, an online marketplace.\nClassify the user's message and respond with STRICTLY VALID JSON in this shape:\n{\n  \"intent\": \"SEARCH\" | \"RECOMMEND\" | \"ORDER_STATUS\" | \"FAQ\",\n  \"query\": \"<1-3 word product keyword for substring matching against product names — e.g. 'headphones', 'laptop', 'yoga mat'. NOT a full sentence and NOT including price/colour/qualifiers. Empty string if intent is ORDER_STATUS or FAQ.>\",\n  \"reply\": \"<a friendly 1-2 sentence reply for the customer>\",\n  \"suggestions\": [\"<2-3 short follow-up question suggestions>\"]\n}\n\nIntent guide:\n- SEARCH: user wants a specific kind of product\n- RECOMMEND: user wants suggestions\n- ORDER_STATUS: asking about an existing order\n- FAQ: returns, shipping, payment methods, store policies, etc.\n\nThe reply must be conversational and concise. Do NOT list product names or prices in the reply — those will be attached as cards by the application. Output ONLY the JSON object, no markdown fences, no commentary.`;\n\nconst geminiResponse = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent',\n  qs: { key: geminiKey },\n  headers: { 'Content-Type': 'application/json' },\n  body: {\n    contents: [\n      { role: 'user', parts: [{ text: systemPrompt + '\\n\\nUser message: ' + message }] }\n    ],\n    generationConfig: { temperature: 0.4, responseMimeType: 'application/json' }\n  },\n  json: true\n});\n\nconst rawText = geminiResponse?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (err) {\n  parsed = { intent: 'FAQ', query: '', reply: rawText, suggestions: [] };\n}\n\nconst intent = parsed.intent || 'FAQ';\nconst query = parsed.query || '';\nconst reply = parsed.reply || \"Sorry, I didn't quite catch that.\";\nconst suggestions = Array.isArray(parsed.suggestions) ? parsed.suggestions.slice(0, 3) : [];\n\nlet products = [];\nif ((intent === 'SEARCH' || intent === 'RECOMMEND') && query) {\n  try {\n    const productResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: backendUrl + '/api/v1/products',\n      qs: { searchTerm: query, limit: 5, page: 1 },\n      json: true\n    });\n    products = (productResp?.data || []).map((p) => ({\n      id: p.id,\n      name: p.name,\n      price: p.price,\n      image: Array.isArray(p.images) && p.images[0] ? p.images[0] : null,\n      shop: p.shop?.shopName,\n      category: p.category?.name,\n      isFlashSale: !!p.isFlashSale,\n      discount_percentage: p.discount_percentage || null\n    }));\n  } catch (err) {\n    // backend unreachable — graceful no-product fallback\n  }\n}\n\nreturn [{ json: { reply, intent, query, products, suggestions } }];"
      },
      "id": "code-orchestrate",
      "name": "Classify & fetch products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $json } }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify & fetch products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify & fetch products": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.1",
  "meta": {
    "instanceId": "dokanxpress"
  },
  "tags": [
    { "name": "dokanxpress" },
    { "name": "ai-assistant" }
  ]
}
